
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static '/js/validations.js' %}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bg bgcolor="silver">
<table align="center" border="2">
        <tr>
            <td>
            <img src="{% static '/images/pte_Zirakpur3.png'%}" width="150" height="190">

            </td>
            <td bgcolor="aqua">
                <font size="6" face="Arial Black" font color="#708090">
                    Job for everyone,Helping hands
                </font>
            </td>
        </tr>
        <tr bgcolor="#7fffd4">
            <td colspan="2">
                <marquee>
                    <font face="arial" font color="#f4a460">You can search number of jobs online to find next step in your career</font>
                </marquee>
            </td>
        </tr>
    </table>
    <table align="center" border="2" bgcolor="">
        <tr>

            <th width="250">
                <a href="/home/?type=home">
                    <font face="arial">Home</font></a>

            </th>
            <th width="250">
                <a href="//"><font face="arial">Jobs </font></a>

            </th>
            <th width="250">
                <a href="/openUserPage/?type=h_user"><font face="arial">
                User
                </font></a>
            </th>
            <th width="250">
                <a href="/admin/"><font face="arial">
                Admin
                </font></a>
            </th>
            <th width="250">
                <a href="/openAbout/?type=about"><font face="arial" >
                About us
                </font></a>
            </th>
        </tr>
    </table>

 {% if type == 'home' %}
     <h1>welcommmmmmm</h1>
    <table align="cente" bgcolor="#7fffd4" width="1200" height="620">
        <tr>
            <td width="350"><font face="Arial Rounded MT Bold" font size="5">
                JobPortal is a free multilanguage employment websites network.
JP helps people seeking work to find job openings that match their skills and location.

www.jobportal.com.ua was created in 2005. Since 2008 one of the largest employment website in Ukraine.
More then 4 millions visitors at 2012.
            </font> </td>
            <th bgcolor="#faebd7" width="400">
                {% load staticfiles%}
                <img src="{% static '' %}" width="160" height="200">
            </th>


        </tr>
    </table>
{% endif %}
{% if type == 'h_user' %}
     <form action="/loginUser/" method="post">
            {% csrf_token %}
            <table align="center" border="2" bgcolor="aqua">
                <tr>
                    <th><h2><font color="blue">{{ message }}</font></h2></th>
                </tr>
                <tr>
                    <th>
                        <h3 width="250"><font face="Arial" font color="#ffffe0">User Login</font></h3>
                    </th>
                </tr>
                <tr>
                    <td width="250" height="50">
                        <input type="text" placeholder="username" name="uname" required>
                    </td>
                </tr>
                <tr>
                <td width="250" height="50">
                        <input type="password" placeholder="password" name="upass" required>
                    </td>
                </tr>
                <tr>
                    <td width="250"  height="50">
                        {{ popup }}
                    </td>
                </tr>
                <tr>
                    <td width="200" height="30">
                        <input type="submit" value="login">
                    </td>
                </tr>
                <tr>
                    <th width="250" height="50">
                        <a href="/openNewRegister/?type=h_NewRegister">Click to new register</a>
                    </th>
                </tr>
            </table>
     </form>
{% endif %}


{% if type == 'h_NewRegister' %}
<body bgcolor="#2f4f4f">


<form action="/userRegister/" method="post">
    {% csrf_token %}
    <table align="center" border="2" bgcolor="aqua" width="250" height="300">
    <tr>
        <th><font face="arial" font bgcolor="#708090">User registration</font></th>
    </tr>
         <th width="250" >
                        {% csrf_token %}
                        <select
                                onselect="true"
                                name="user_state"
                                onchange="check()"
                                id="one"
                                required>
                        {% if key == "one" %}
                            <option>{{ states }}</option>
                         {% else %}
                            {% for x in states %}
                                <option>{{ x }}</option>
                            {% endfor %}
                          {% endif %}
                        </select>
                    </th>
                </tr>

            <tr>
                    <th width="250" >
                        <select name="user_city" required>
                            {% for x in city_names %}
                                <option> {{ x }}</option>
                            {% endfor %}
                        </select>
                    </th>
                </tr>

             <tr>
                <td>
            <input type="text" placeholder="Firstname" name="user_fname" required>
                </td>
            </tr>
        <tr>
            <td>
            <input type="text" placeholder="Lastname" name="user_lname" required>

            </td>
        </tr>
    <tr>
        <td>
            <input type="email" placeholder="email" name="user_email" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="password" placeholder="password" name="user_paswword" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="date" placeholder="date" name="user_dor" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="register">
        </td>
    </tr>
        <tr>
            <td>
                {{ message }}
            </td>
        </tr>

</table>
</form>
{% endif %}
{% if type == 'about' %}



            <h4><font face="arial" font color="blue"><marquee>Stay in touch</marquee></font></h4><br>


        <h4><font face="Arial" font color="blue"font size="3" width="60" height="40">Address:- B12,5th floor,World Trade Center</font></h4><br>
        <h4><font face="Arial" font color="blue">Pune,Maharashtra</font></h4><br>
        <h4><font face="Arial" font color="blue">contact no:-6565656565</font></h4>
{% endif %}
</body>
</html>


</body>
</html>

</body>
</html>